---
extends: default

rules:
  # 1. 禁用行长度限制（最烦人的提示，尤其是长 URL 或长字符串时）
  line-length: disable
  # 2. 允许在注释中出现中文（解决 UTF-8 编码报错）
  comments:
    level: warning
    require-starting-space: true
    min-spaces-from-content: 1

  # 4. 允许空行（有时候为了视觉对齐会多打空格，禁用它可以减少干扰）
  trailing-spaces: disable

  # 5. 缩进：保持 2 空格，但忽略注释缩进（防止因为注释位置没对齐报 error）
  indentation:
    spaces: 2
    indent-sequences: true
    check-multi-line-strings: false
