{
  "printWidth": 160,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "proseWrap": "preserve",
  "overrides": [
    {
      "files": ["*.json", ".prettierrc", ".eslintrc"],
      "options": {
        "parser": "json"
      }
    },
    {
      "files": ["tsconfig.json", ".vscode/*.json", "settings.json"],
      "options": {
        "parser": "jsonc",
        "trailingComma": "none"
      }
    },
    {
      "files": "*.yaml",
      "options": {
        "singleQuote": false,
        "bracketSpacing": false
      }
    },
    {
      "files": "*.yml",
      "options": {
        "singleQuote": false,
        "bracketSpacing": false
      }
    },

    {
      "files": "*.md",
      "options": {
        "parser": "markdown",
        "proseWrap": "always",
        "embeddedLanguageFormatting": "auto"
      }
    }
  ]
}
