# .yamllint
extends: default

# 忽略的文件和目录
ignore: (node_modules/|vendor/|\.git/|venv/|\.venv/|__pycache__/|dist/|build/|\.github/workflows/)

rules:
  # 行长度
  line-length:
    max: 120
    level: warning
    allow-non-breakable-inline-mappings: true

  # 缩进
  indentation:
    spaces: 2

  # 注释
  comments:
    min-spaces-from-content: 1

  # 文档标记
  document-start:
    present: false
  document-end:
    present: false

  # 空行
  empty-lines:
    max-end: 1

  # 八进制值
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true

  # 引号
  quoted-strings:
    required: false

  # 布尔值
  truthy:
    check-keys: false

  # 空值
  empty-values:
    forbid-in-flow-mappings: true

  # 浮点数
  float-values:
    forbid-nan: true
